@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 15%;
    background-color: #484ec5;
    padding: 20px;
}

#class-name-display {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 78.74px;
    text-align: center;
}

.verticle-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 20px;
}

.teacher,
.admin {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 150;
    text-align: left;
    margin-bottom: 1.3rem;
    color: #fff;
}

.section-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
.button {
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #484ec5;
    color: black;
    border: 2px solid #484ec5;
    border-radius: 10px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
} */
.section-btn > button {
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #484ec5;
    border: 2px solid #484ec5;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.register {
    margin-bottom: 20px;
}

hr {
    width: 93%;
    height: 1px;
    color: rgb(181, 48, 48);
    margin-bottom: 1rem;
}

.right {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
}
@media  (min-width: 429px) {
    .attendance-page-container,
    .page-1-container,
    .report-page-container{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: black;
        /* padding: 20px; */
        margin: 20px;
        overflow-x: auto;
    
    }
    .toggle-button {
        display: none;
    }

}

/* #attendance-page-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    padding: 20px;
    margin: 20px;
    overflow-x: auto;
} */

.attendance-register{
    width: 90%;
    overflow: auto;
    /* border: 2px solid #484ec5; */
}
#attendance-persentage-table,
.report-table{
    width: 90%;
    overflow: auto;
}
.attendance-register::-webkit-scrollbar {
    display: none;
  }

#class-name-display {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    height: 78.74px;
    text-align: center;
    color: #ccc;
    display: flex;
    align-items: center;
}

.page-heading {
    text-indent: 40px;
    background-color: #484ec5;
    color: #ccc;
    padding: 20px 0px;
    width: 100%;
    border-bottom: 2px solid white;
}
.date-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    width: 17.35%;
    margin-right:0 auto;

}

#save-record {
    background-color: #484ec5;
    color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    width: 17.35%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
    
    
}

table {
    /* margin: 20px auto; */
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ccc;
    /* color: black; */
}


.table-header,
th {
    background-color: #484ec5;
    color: #ccc;
    padding: 10px;
    font-weight: bold;
}

th,
td {
    padding: 10px;
    text-align: center;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

#horizonatal-navbar{
    display: flex;
    /* border: 2px solid rgb(0, 0, 18); */
    width: 90%;
    height: 50px;
    /* margin-bottom: -22px;
    margin-top: -2px; */

}
#horizonatal-navbar>button{
    height: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    text-align: center;
    /* border: 2px solid lightgray; */
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid white;
}



#done-button{
    background-color: #484ec5;
    color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 13px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.entance{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-1-container{
    width: 50%;
    height: 50%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.entrance-heading{
    font-weight: 500;
}
.page-1-container>button{
    width: 30%;
    font-weight: 800;
}

