<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAS</title>
    <link rel="stylesheet" href="/static/css/entrance.css">
    <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
</head>
<body>
    <div class="entrance" id="entrance">
        <div class="page-1-container" id="page-1-container">
            <h2 class="entrance-heading">Enter name of your info </h2>
            <input type="text" placeholder="class name" id="class-name-input" required><br>
            <input type="text" placeholder="username" id="username-input" required><br>
            <input type="password" placeholder="password" id="password-input" required><br>
            <button id="done-button">Done</button><br>
        </div>
        
        <button id="adminControl" class="adminControl"><i class="nf nf-fa-cog"></i></button><br>
    </div>
    <script src="/static/js/entrance.js"></script>
</body>


</html>